langchain
langchain_community
langchain_core
langchain_groq
python-dotenv
langchain-google-genai
langchain_openai
ipykernel
langchain-google-vertexai
deepagents
tavily-python
langchain-ollama
langchain-anthropic
langgraph
anthropic